body {
    font-family:'Ubuntu', sans-serif !important;
}

.header {
    margin: 30px 0;
}

.logo__head {
    display: inline-block;
}

.top__desc {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    width: 200px;
    line-height:20px;
    margin-left: 18px;
    color: #d53e48;
}

.address__head:before{
    content: "";
    height: 33px;
    width: 33px;
    background: url("../images/icon/sity.png") center center no-repeat;
    border: 1px #c1c1c1 solid;
    border-radius: 50%;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 8px;
}

.select__city, .city__list, .head__phone, .address__line {
    margin: 0;
}

.contact__head:before{
    content: "";
    height: 33px;
    width: 33px;
    background: url("../images/icon/call.png") center center no-repeat;
    border: 1px #c1c1c1 solid;
    border-radius: 50%;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 8px;
}

.city__list {
    color: #d53e48;
    list-style-type: none;
    text-decoration: dotted;
}


.menu__list li:hover {
    background-color: #e3565e;
}

.menu__list {
    font: 14px 'Ubuntu', sans-serif !important;
    text-align: justify;
    background-color: #cd353d;
    color: #ffffff;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
    zoom:1;
}
.menu__list:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;

}
.menu__list li  {
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
//display : inline;
//zoom : 1;
}
/*END FOOTER*/

.slider__full {
    padding: 0 !important;
}

.slide__content {
    width: 100%;
}
.sub__menu {
    height: 250px;
    margin: 45px 0 22px;
    position: relative;
}

.tit__sub {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin-left: 50px;
    left: 0;
    margin-bottom: 20px;
}

.tit__sub p {
    background: rgba(205, 53, 61, 0.61);
    display: inline-block;
}

.cat__sub {
    /*width: 100%;*/
    display: block;
    margin: 0 auto;
}

.hr__line {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #313131;
    overflow: hidden;
}
.hr__line:before,
.hr__line:after {
    background-color: #b0b0b0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.hr__line:before {
    right: 0.5em;
    margin-left: -50%;
}
.hr__line:after {
    left: 0.5em;
    margin-right: -50%;
}
.seller__bl {
    /*border: 1px solid #b0b0b0;*/
    padding: 0 !important;
}
.seller__bl div{
    border: 1px solid #b0b0b0;
}

.tit__partner {
    padding: 0 !important;
}

.about__comp {
    background: #e0e0e0;
    padding: 50px;
    margin: 45px 0;
    font-weight: bold;
}

/*Footer*/
.red__line {
    width: 100%;
    height: 5px;
    background: #cd353d;
}

.footer__content {
    margin: 45px 0;
    font-weight: bold;
}

.footer__menu {
    background: transparent;
    color: #313131;
}

.footer__menu li {
    font-weight: bold;
}
.alfa__foot {
    text-align: right;
}

.footer__menu li:hover {
    text-decoration: solid;
    color: #cd353d;
}

a {
    color: #cd353d;
}