body {
    font-family:'Ubuntu', sans-serif !important;
}

.header {
    margin: 30px 0;
}

.logo__head {
    display: inline-block;
}

.top__desc {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    width: 200px;
    line-height:20px;
    margin-left: 18px;
    color: #d53e48;
}

.address__head:before{
    content: "";
    height: 33px;
    width: 33px;
    background: url("../images/icon/sity.png") center center no-repeat;
    border: 1px #c1c1c1 solid;
    border-radius: 50%;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 8px;
}

.select__city, .city__list, .head__phone, .address__line {
    margin: 0;
}

.contact__head:before{
    content: "";
    height: 33px;
    width: 33px;
    background: url("../images/icon/call.png") center center no-repeat;
    border: 1px #c1c1c1 solid;
    border-radius: 50%;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 8px;
}

.city__list {
    color: #d53e48;
    list-style-type: none;
    text-decoration: dotted;
}

.select__city {
    position: relative;
    display: inline-block;
    background: transparent;
    border: transparent;
    border-bottom: 1px dashed #d53e48;
    color: #d53e48;
    outline:none;
}

.select__city:before {
    content: "▼";
    display: inline-block;
    background: white;
    position: absolute;
    right: -5px;
    top: 2px;
    z-index: 2;
    width: 30px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: 2px solid #ddd;
    transform: rotate(90deg);
    cursor: pointer;
}

select {
    padding-right: 25px;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
}


.select__cit-pre {
    margin-bottom: 0;
}


.menu__list li:hover {
    background-color: #e3565e;
}
.navigation__menu {
    margin-top: 15px;
    background: #cd353d;
    position: relative;
}

.list__menu {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    height: 50px;
    display: flex;
}

.item__menu {
    flex: 1 1 20%;
}

.item__menu:hover {
    background: #e3565e;
}
.item__menu:hover a {
    color: #ffffff;
    text-decoration: none;
}

.item__menu>a {
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

.dropdown__menu:hover .drop__list__menu{
    display: flex;
}

.drop__list__menu {
    position: absolute;
    left: 0;
    width: 100%;
    background: #e0e0e0;
    z-index: 1;
    margin-left: 0;
    padding: 0;
    display: none;
}

.drop__list-text {
    color: #d53e48;
}

.sub__menu-col:hover {
    background: #bfbfbf;
}

.menu__list {
    font: 14px 'Ubuntu', sans-serif !important;
    text-align: justify;
    background-color: #cd353d;
    color: #ffffff;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
    zoom:1;
}
.menu__list:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;

}
.menu__list li  {
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
//display : inline;
//zoom : 1;
}
/*END FOOTER*/

.slider__full {
    padding: 0 !important;
}

.slide__content {
    width: 100%;
}
.sub__menu {
    /*height: 250px;*/
    /*margin: 45px 0 22px;*/
    padding: 0 !important;
    overflow: hidden;
    margin: 10px 0;
}
.sub__menu img {
    width: 100%;
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.sub__menu:hover img {
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrap__sub {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.tit__sub {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin-left: 36px;
    left: 0;
    margin-bottom: 20px;
}

.tit__sub p {
    background: rgba(205, 53, 61, 0.61);
    display: inline-block;
    margin: 0;
    padding: 0 5px;
}

.cat__sub {
    /*width: 100%;*/
    display: block;
    margin: 0 auto;
}

.hr__line {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #313131;
    overflow: hidden;
}
.hr__line:before,
.hr__line:after {
    background-color: #b0b0b0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.hr__line:before {
    right: 0.5em;
    margin-left: -50%;
}
.hr__line:after {
    left: 0.5em;
    margin-right: -50%;
}

.seller_main{
    margin: 45px 0;
}
.seller__bl {
    /*border: 1px solid #b0b0b0;*/
    padding: 0 !important;
}
.seller__bl div{
    border: 1px solid #b0b0b0;
    height: 115px;
    margin:-1px 0 0 -1px;
}

.tit__partner {
    padding: 0 !important;
}

.btn__more {
    padding: 10px 45px;
    background: #d53e48;
    border-radius: 2px;
    color: white;
}

.btn__more:hover {
    background: #e3565e;
    color: white;
    text-decoration: none;
}

.about__comp {
    background: #e0e0e0;
    padding: 50px;
    margin: 45px 0;
    font-weight: bold;
    font-size: 16px;
}

.about__comp a{
    color: #d53e48;
}
.about__comp a:hover{
    color: #d53e48;
}

.about__comp ul{
    padding-left: 25px;
}

.about__comp li{
    color: #d53e48;
}

.about__comp li p{
    color: #313131;
}

/*Footer*/
.red__line {
    width: 100%;
    height: 5px;
    background: #cd353d;
}

.footer__content {
    margin: 45px 0;
    font-weight: bold;
    padding: 0;
}

.footer__menu {
    padding-left: 0;
    background: transparent;
    color: #313131;
}

.footer__menu li {
    font-weight: bold;
}

.footer__menu li:hover {
    background: transparent;
}

.footer__menu a{
    color: #313131;
    background: transparent;
}

.footer__menu a:hover {
    color: #cd353d;
    background: transparent;
}

.alfa__foot {
    text-align: right;
}

.copywrite{
    width: 250px;
}

.phone__foot a {
    color: #d53e48;
}

.phone__foot a:hover {
    text-decoration: none;
    color: #d53e48;
}

.alfa__foot p {
    margin: 0;
}

.alfa__foot a {
    color: #d53e48;
    text-decoration: solid;
    font-weight: bold;
}

.alfa__foot a:hover {
    text-decoration: none;
    color: #d53e48;
}


.partner-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.partner-item {
    border: 1px solid #b0b0b0;
    font-weight: bold;
    text-align: center;
    flex: 1 1 20%;
    margin: -1px 0 0 -1px;
    display: inline-grid;
    align-content: center;
    padding: 15px;

}

.partner__img {
    display: block;
    position: relative;
    padding: 0;
}

.btn__part {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: -82px;
}

.partner__name {
    color: #d53e48;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 0;
}

.partner__phone {
    font-size: 16px;
}

.wh__b {
    padding: 50px 15px !important;
}

.partner-item img {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .sub__menu{
        padding: 0 35px !important;
        margin: 45px 0 22px;
    }
}
@media screen and (max-width: 768px) {
    .navigation__menu{
        /*display: none;*/
    }
}

.main__menu {
    padding: 0 !important;
    margin-left: 0 !important;
}


/*Comapny*/
.company__tit {
    padding: 50px 0;
}

.logo__comp {
    text-align: right;
}

.tit__h1 {
    margin: 0;
    font-weight: bold;
}
.sub__h1 {
    color: #cd353d;
    font-weight: bold;
}
.company__info {
    padding: 50px 0;
}

.company__tit-b {
    font-weight: bold;
    font-size: 16px;
}

.company__address {
    margin-bottom: 45px;
}

.company__photo img{
    width: 100%;
}

.company__map {
    margin-bottom: 30px;
}

.company__photo-more {
    text-align: right;
}

.company__photo-more a {
    border-bottom: 1px dashed;
    color: #cd353d;
}

.company__photo-more a:hover {
    text-decoration: none;
    border-bottom: none;
    color: #cd353d;
}

.company__photo {
    margin-bottom: 20px;
}

/*Product*/
.product__tit {
    font-weight: bold;
    font-size: 16px;
}

.product__ul {
    color: #cd353d;
    padding-left: 25px;
}

.product__ul span{
    color: #313131;
}
.product__color img {
    border: 2px solid #bfbfbf;
    margin: 20px 20px 0 0;
}
.product__color img:hover{
     border: 2px solid #cd353d;
}
.product__btn {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 50px;
}

.color__el {
    display: inline-block;
    position: relative;
}

.product__slider {
    width: 364px;
}

.interer__slider {
    margin: 50px 0;
}
.breadcrumbs{
    padding: 0;
    margin-top: 10px;
}

.breadcrumbs li {
    cursor: pointer;
    display: inline;
    color: #cd353d;
    text-decoration: underline;
}

.breadcrumbs li:after {
    content: "»";
    display: inline-block;
    color: #313131;
    margin: 0 5px;
}
.breadcrumbs li:last-child{
    color: #b0b0b0;
    cursor: auto;
    text-decoration: none;
}
.breadcrumbs li:last-child:after {
    display: none;
}

.product__tit__h1 {
    padding-bottom: 30px;
}

.no__pad-tit {
    padding-left: 0 !important;
}